<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="head">
      <a href="/">Home</a>
      <a href="/abilities/">Abilities</a>
      <a href="/character_creation/">Character Creation</a>
      <a href="/how_to_play/">How To Play</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
    </footer>
  </body>
</html>